.img-gradient {
  position: relative;
  display: inline-block;
}
.img-gradient:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.img-gradient img {
  display: block;
}
/* .strokeText {
  fill: none;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  stroke-opacity: 0.5;
} */
.strokeText {
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.397);
}
